<div class="container" *ngIf="!isEditMode">
    <div class="card text-start">
      <div class="card-header">
        Add User
      </div>
      <ng-container *ngTemplateOutlet="addEditForm"></ng-container>
    </div>
</div>

<div *ngIf="isEditMode">
  <div class="modal-header">
    <h5 class="modal-title pull-left">Edit User</h5>
  </div>
    <div *ngIf="showLoader">
      <img src="assets\images\spinner.svg" class="w-10">
    </div>
    <ng-container *ngTemplateOutlet="addEditForm"></ng-container>
</div>

<!-- ---------------------------------------------------------------------------- -->
<ng-template #addEditForm>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div [ngClass]="{'modal-body': isEditMode, 'card-body': !isEditMode}">
        <input type="hidden" name="id" [(ngModel)]="user.id" *ngIf="isEditMode">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input
            type="text"
            id="fullName"
            name="fullName"
            [(ngModel)]="user.fullName"
            required
            class="form-control"
          />
        </div>
        <div class="form-group mt-3">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="user.email"
            required
            class="form-control"
          />
        </div>
        <div class="form-group mt-3">
          <label for="birthDate">Birth Date</label>
          <input
            type="date"
            id="birthDate"
            name="birthDate"
            [(ngModel)]="user.birthDate"
            required
            class="form-control"
          />
        </div>
        <div class="form-group mt-3">
          <label for="city">City</label>
          <select id="city" [(ngModel)]="selectedCity">
            <option *ngFor="let city of cities" 
                       [ngValue]="city">
                       {{city.name}}
            </option>
          </select>
        </div>
    </div>
    <div [ngClass]="{'modal-footer': isEditMode, 'card-footer text-end': !isEditMode}">
      <button type="submit" class="btn btn-primary" [ngClass]="{'w-8': !isEditMode}">Save</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'mx-2': !isEditMode}" (click)="cancel()">Cancel</button>
    </div>
  </form>
</ng-template>