<div class="container" *ngIf="!isEditMode">
    <div class="card text-start">
      <div class="card-header">
        Add User
      </div>
      <ng-container *ngTemplateOutlet="addEditForm"></ng-container>
    </div>
</div>

<div *ngIf="isEditMode">
  <div class="modal-header">
    <h5 class="modal-title pull-left">Edit User</h5>
  </div>
    <ng-container *ngTemplateOutlet="addEditForm"></ng-container>
</div>

<!-- ---------------------------------------------------------------------------- -->
<ng-template #addEditForm>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div [ngClass]="{'modal-body': isEditMode, 'card-body': !isEditMode}">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input
            type="text"
            id="fullName"
            name="fullName"
            ngModel
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            ngModel
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="birthDate">Birth Date</label>
          <input
            type="date"
            id="birthDate"
            name="birthDate"
            ngModel
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            id="city"
            name="city"
            ngModel
            class="form-control"
          />
        </div>
    </div>
    <div [ngClass]="{'modal-footer': isEditMode, 'card-footer text-end': !isEditMode}">
      <button type="submit" class="btn btn-primary" [ngClass]="{'w-8': !isEditMode}">Save</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'mx-2': !isEditMode}" (click)="cancel()">Cancel</button>
    </div>
  </form>
</ng-template>