
<div class="container">
    <div class="card">

        <div *ngIf="showLoader">
            <img src="assets\images\spinner.svg" class="w-10">
        </div>

        <div class="card-body" *ngIf="!showLoader">
            <table class="table table-hover" *ngIf="users">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Birth Date</th>
                        <th>City</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.birthDate | removeTimeFromDate }}</td>
                        <td>{{ user.city }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-pen"></i></button>
                            <button type="button" class="btn btn-outline-danger btn-sm ms-1"><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        </div>
        </div>